
* {
  box-sizing: border-box;
}

h1 {
  border: dotted 1px lightgray;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 0;
}

header.subhead {
  margin: 3px 5px;
  font-weight: 400;
}

body {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
  margin-left: 5%;
  margin-right: 5%;
}

p {
  margin: 5px 10px 0;
}

p:not(.not-bold){
  font-weight: 900;
}

.image img{
  display: block;
  margin: auto;
  max-width: 100%;
}

.product {
  width: 30%;
  /*min-width: 350px;*/
  border: solid 1px lightblue;
  margin: 5px;
}

.availability {
  background: #808080;
  color: #f7fd39;
  margin: 10px 0;
  padding: 5px;
}

.small-valid {
  font-size: .75em;
  margin: 5px 0;
}

.justified {
  text-align: justify;
}
